<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>StoreModule/sc_depreciate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>StoreModule/sc_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,67},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>StoreModule/11030010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{27,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>store_plist.png</string>
			<key>realTextureFileName</key>
			<string>store_plist.png</string>
			<key>size</key>
			<string>{128,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>