<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>castle/1901001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1},{382,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,293}</string>
			</dict>
			<key>castle/1902001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,842},{216,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,129}</string>
			</dict>
			<key>castle/1902002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1},{285,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,202}</string>
			</dict>
			<key>castle/1902003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,296},{229,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,152}</string>
			</dict>
			<key>castle/1902004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,527},{225,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,158}</string>
			</dict>
			<key>castle/1903001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,382},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>
			<key>castle/1904001.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,645},{119,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,112}</string>
			</dict>
			<key>castle/1904002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,111}</string>
			</dict>
			<key>castle/1904003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1834,937},{167,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,115}</string>
			</dict>
			<key>castle/1904004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,415},{157,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,96}</string>
			</dict>
			<key>castle/1904005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1},{140,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,91}</string>
			</dict>
			<key>castle/1905001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,574},{102,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,169}</string>
			</dict>
			<key>castle/1906001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,749},{154,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,184}</string>
			</dict>
			<key>castle/1907001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1055,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1055,642}</string>
			</dict>
			<key>castle/1909001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,473},{210,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,184}</string>
			</dict>
			<key>castle/1910001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,692},{195,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,148}</string>
			</dict>
			<key>castle/1911001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,579},{204,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,168}</string>
			</dict>
			<key>castle/1912001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,745},{190,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,151}</string>
			</dict>
			<key>castle/1913001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,143},{74,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,134}</string>
			</dict>
			<key>castle/1913002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,279},{74,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,134}</string>
			</dict>
			<key>castle/dikuai_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,1},{225,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,175}</string>
			</dict>
			<key>castle/dikuai_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,178},{225,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,175}</string>
			</dict>
			<key>castle/dikuai_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,205},{225,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,175}</string>
			</dict>
			<key>castle/dikuai_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,355},{225,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,175}</string>
			</dict>
			<key>castle/dikuai_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,296},{225,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,175}</string>
			</dict>
			<key>castle/jz_nengliangtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,143},{88,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,8}</string>
			</dict>
			<key>castle/jz_nengliangtiao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,205},{155,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,50}</string>
			</dict>
			<key>castle/jz_nengliangtiaotou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,143},{5,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,12}</string>
			</dict>
			<key>castle/1915001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,532},{216,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,158}</string>
			</dict>
			<key>castle/jiantou_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,741},{34,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,37}</string>
			</dict>
			<key>castle/jidutiao_duquicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,563},{70,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,17}</string>
			</dict>
			<key>castle/jindutiaodikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,520},{166,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,27}</string>
			</dict>
			<key>castle/mingchengdi_beijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,520},{160,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,24}</string>
			</dict>
			<key>castle/shijiandi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,382},{179,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,27}</string>
			</dict>
			<key>castle/tubiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,688},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>castle/paizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,635},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,36}</string>
			</dict>
			<key>castle/jzmc_dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,362},{156,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>castlebuilding.png</string>
			<key>realTextureFileName</key>
			<string>castlebuilding.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>