.idea
.idea/
.idea/workspace.xml
cocos2dxUpdateTool/history/
cocos2dxUpdateTool/svnsrc/
cocos2dxUpdateTool/svnres/
jscTool/
server/tmp/
gameServer/tmp/
tsc/
test/
imageTool/modifyColor/out/
imageTool/modifyColor/src/
imageTool/modifyColor/assets/
imageTool/rename/out/
imageTool/rename/src/
node_modules/