<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle_tech_upgrade_complete_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{198,216}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{198,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,742},{232,236}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{232,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,480},{204,186}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{204,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{148,186}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,45},{148,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,252}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{212,240}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{212,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,256},{222,222}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{222,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{220,234}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{220,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{222,242}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{222,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{210,240}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{210,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,220},{190,198}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{190,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_complete_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{180,194}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,37},{180,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castle_tech_upgrade_complete.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f5a8500e322267cfcbb7071a3587bc3:1/1$</string>
            <key>textureFileName</key>
            <string>castle_tech_upgrade_complete.png</string>
        </dict>
    </dict>
</plist>
