<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle_tech_upgrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{144,174}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,44},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{144,176}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{144,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,300},{156,160}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,36},{156,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,300},{152,162}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,34},{152,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,154},{144,164}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,32},{144,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,148},{144,166}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,30},{144,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,440},{146,162}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,34},{146,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,294},{144,164}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,32},{144,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{144,178}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,31},{144,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{144,172}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{144,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{144,178}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{144,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,184}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,40},{144,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,174}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,37},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{144,172}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{144,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{144,174}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,304},{144,166}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,30},{144,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{150,172}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{150,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,148},{150,164}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,33},{150,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,148},{154,166}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,31},{154,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castle_tech_upgrade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,148},{160,166}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,34},{160,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castle_tech_upgrade.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80af34226dcdbbec4641d56da0325b5f:1/1$</string>
            <key>textureFileName</key>
            <string>castle_tech_upgrade.png</string>
        </dict>
    </dict>
</plist>
