<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle_upgrade_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1476},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1266},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1202},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{398,210}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,227},{398,210}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,216}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,221},{398,216}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1056},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,846},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,802},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,636},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,426},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,402},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{398,212}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,225},{398,212}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>castle_upgrade_up_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,216},{398,208}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,229},{398,208}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castle_upgrade_up.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255df265a67f6e67759c95cdef67eb40:1/1$</string>
            <key>textureFileName</key>
            <string>castle_upgrade_up.png</string>
        </dict>
    </dict>
</plist>
