<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mainResourcesModule/zhujiemian_fanhuichengzhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_jiemeng_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,88}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_shijieditu_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,86},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,88}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_shouchangjia_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,91},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,88}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_touxiangkuang_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,182},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_wodebudui_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{105,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,98}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_wodezhucheng_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1},{105,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,98}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_youjian_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,101},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,88}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_youjian_jingbimeian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,119},{74,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,95}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_beibao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,101},{79,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,87}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_haoyou_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,168},{79,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,87}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_qiehuan_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1},{83,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,88}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_shangcheng_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,181},{79,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,87}</string>
			</dict>
			<key>mainResourcesModule/zhujiemian_zhandouli_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,249},{156,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,36}</string>
			</dict>
			<key>mainResourcesModule/zjm_fanrongdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,168},{55,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,34}</string>
			</dict>
			<key>mainResourcesModule/zjm_fanrongdu_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,249},{157,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main_menu_plist.png</string>
			<key>realTextureFileName</key>
			<string>main_menu_plist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>