<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1207001_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,150},{92,76}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,80},{92,76}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,234},{92,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,228},{92,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,156},{92,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,156},{92,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{92,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,80},{92,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,616},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,922},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,836},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,750},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,608},{84,70}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,388},{90,76}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{90,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,304},{90,78}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{90,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,232},{90,78}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{90,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,384},{90,76}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{90,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,312},{90,76}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{90,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,302},{90,76}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{90,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{90,76}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{90,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,310},{90,76}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{90,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,538},{88,76}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{88,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,530},{88,76}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{88,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{88,76}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{88,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,450},{88,78}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{88,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{88,78}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{88,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,466},{88,76}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{88,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,540},{88,74}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{88,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,462},{88,76}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{88,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,460},{88,76}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{88,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,390},{90,68}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{90,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,544},{88,70}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{88,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,380},{90,68}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{90,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,232},{92,68}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{92,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,68}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,51},{94,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{90,68}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{90,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{88,68}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{88,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{92,68}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,51},{92,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,74}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{94,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,78},{92,76}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{92,74}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,72},{92,76}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,76}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,48},{94,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,76}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{94,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,158},{92,74}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{92,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1207001_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{92,76}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,47},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1207001.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac29dccfe59bc2bbac06e76b5ed86e7b:1/1$</string>
            <key>textureFileName</key>
            <string>1207001.png</string>
        </dict>
    </dict>
</plist>
