<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeavyCavalry_RightDown_Move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{40,62}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,44},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,194},{42,60}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{42,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{42,62}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{42,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{42,62}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,43},{42,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,66},{40,62}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,44},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,130},{40,62}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{40,64}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{40,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,64}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{40,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,66},{40,62}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,46},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{40,58}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{40,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,66},{40,50}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,47},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,198},{40,50}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightDown_Move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{40,52}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeavyCavalry_RightDown_Move.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6fc5c169fae6a8d10982280f716468e:1/1$</string>
            <key>textureFileName</key>
            <string>HeavyCavalry_RightDown_Move.png</string>
        </dict>
    </dict>
</plist>
