<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeavyCavalry_RightUp_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{44,74}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,36},{44,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{48,62}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{48,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,302},{46,62}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,48},{46,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,176},{44,60}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,50},{44,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,230},{52,64}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,46},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{52,64}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,190},{52,64}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{52,64}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,46},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,238},{52,62}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{52,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,284},{50,62}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,48},{50,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,244},{48,64}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{48,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,76}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,34},{42,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,138},{50,68}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{50,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{50,70}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,40},{50,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,126},{48,70}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,40},{48,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,90},{46,72}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,38},{46,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,44},{44,74}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{44,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,42},{44,74}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,36},{44,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{40,76}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,34},{40,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{38,76}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{38,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,88},{36,74}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,36},{36,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{38,72}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,38},{38,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{42,66}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,44},{42,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,294},{48,62}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{48,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{50,62}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeavyCavalry_RightUp_Attack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb4a54aed0c83c1dab4c08c9cb0a1cce:1/1$</string>
            <key>textureFileName</key>
            <string>HeavyCavalry_RightUp_Attack.png</string>
        </dict>
    </dict>
</plist>
