<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeavyCavalry_RightDown_Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,46},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeavyCavalry_RightDown_Idle.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75885f2c8eb8f4e89c6bba6dbd02aaa1:1/1$</string>
            <key>textureFileName</key>
            <string>HeavyCavalry_RightDown_Idle.png</string>
        </dict>
    </dict>
</plist>
