<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeavyCavalry_LeftDown_Move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,64}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,44},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{52,60}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,42},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{52,64}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,41},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,64}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,44},{52,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{50,64}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{50,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{50,64}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{50,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,54},{50,62}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{50,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,54},{50,60}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,47},{50,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{50,58}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,47},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,106},{50,50}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,110},{52,50}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_LeftDown_Move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{52,54}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,43},{52,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeavyCavalry_LeftDown_Move.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2baaad0f3d30b111afa558db26ef686d:1/1$</string>
            <key>textureFileName</key>
            <string>HeavyCavalry_LeftDown_Move.png</string>
        </dict>
    </dict>
</plist>
