<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeavyCavalry_RightUp_Move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{52,58}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{52,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{52,50}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{52,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,52},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{52,56}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,52},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{52,58}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{52,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,60}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,52},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,124},{50,58}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{50,60}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{50,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,186},{50,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,51},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{50,58}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,58}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,49},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,184},{52,56}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,49},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>HeavyCavalry_RightUp_Move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,56},{52,52}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeavyCavalry_RightUp_Move.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7afae132e710e10d239b887e4ff1f3d5:1/1$</string>
            <key>textureFileName</key>
            <string>HeavyCavalry_RightUp_Move.png</string>
        </dict>
    </dict>
</plist>
