<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NewFolder/bkg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{960,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,640}</string>
			</dict>
			<key>NewFolder/bluebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,850},{289,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,77}</string>
			</dict>
			<key>NewFolder/bluebtnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,929},{279,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,77}</string>
			</dict>
			<key>NewFolder/greenbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{289,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,77}</string>
			</dict>
			<key>NewFolder/greenbtnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,929},{279,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,77}</string>
			</dict>
			<key>NewFolder/name.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{504,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,205}</string>
			</dict>
			<key>NewFolder/redbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,850},{289,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,77}</string>
			</dict>
			<key>NewFolder/redbtnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,643},{279,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{962,1007}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>962</integer>
			<key>height</key>
			<integer>1007</integer>
		</dict>
	</dict>
</plist>