<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_static_item_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{452,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,222}}</string>
                <key>sourceSize</key>
                <string>{452,222}</string>
            </dict>
            <key>map_static_item_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,347},{160,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{160,138}</string>
            </dict>
            <key>map_static_item_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,342},{243,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,200}}</string>
                <key>sourceSize</key>
                <string>{243,200}</string>
            </dict>
            <key>map_static_item_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{109,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,72}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
            <key>map_static_item_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,215},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>map_static_item_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,376},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>map_static_item_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,963},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>map_static_item_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,963},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>map_static_item_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,215},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>map_static_item_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>map_static_item_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,963},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>map_static_item_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{591,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,338}}</string>
                <key>sourceSize</key>
                <string>{591,338}</string>
            </dict>
            <key>map_static_item_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>map_static_item_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,963},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>map_static_item_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,342},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,32}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>map_static_item_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,342},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,32}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>map_static_item_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,504},{87,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{87,65}}</string>
                <key>sourceSize</key>
                <string>{93,65}</string>
            </dict>
            <key>map_static_item_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,210},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>map_static_item_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,113},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
            <key>map_static_item_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,705},{196,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{196,106}}</string>
                <key>sourceSize</key>
                <string>{196,108}</string>
            </dict>
            <key>map_static_item_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,253},{144,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,92}}</string>
                <key>sourceSize</key>
                <string>{144,92}</string>
            </dict>
            <key>map_static_item_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,963},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>map_static_item_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,215},{281,209}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{281,209}}</string>
                <key>sourceSize</key>
                <string>{283,211}</string>
            </dict>
            <key>map_static_item_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,544},{172,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>map_static_item_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,426},{241,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,181}}</string>
                <key>sourceSize</key>
                <string>{241,181}</string>
            </dict>
            <key>map_static_item_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,342},{256,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{256,160}}</string>
                <key>sourceSize</key>
                <string>{260,162}</string>
            </dict>
            <key>map_static_item_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,903},{133,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{133,117}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>map_static_item_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{348,211}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{348,211}}</string>
                <key>sourceSize</key>
                <string>{352,213}</string>
            </dict>
            <key>map_static_item_1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,705},{185,149}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{185,149}}</string>
                <key>sourceSize</key>
                <string>{213,149}</string>
            </dict>
            <key>map_static_item_1_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,705},{214,171}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{214,171}}</string>
                <key>sourceSize</key>
                <string>{218,171}</string>
            </dict>
            <key>map_static_item_1_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>map_static_item_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,509},{203,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,194}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>map_static_item_1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,412},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>map_static_item_1_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,723},{148,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,61}}</string>
                <key>sourceSize</key>
                <string>{148,61}</string>
            </dict>
            <key>map_static_item_1_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,963},{43,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{43,33}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>map_static_item_1_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,892},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>map_static_item_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,921},{179,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,99}}</string>
                <key>sourceSize</key>
                <string>{179,99}</string>
            </dict>
            <key>map_static_item_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,609},{150,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,112}</string>
            </dict>
            <key>map_static_item_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,544},{97,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,104}}</string>
                <key>sourceSize</key>
                <string>{97,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_static_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a549007e85b305707802a8e0e9a13d0a$</string>
            <key>textureFileName</key>
            <string>map_static_0.png</string>
        </dict>
    </dict>
</plist>
