<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>HeadModule/tx_bukebianji_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,118},{143,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,30}</string>
			</dict>
			<key>HeadModule/tx_guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{51,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,32}</string>
			</dict>
			<key>HeadModule/tx_huadonganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,488},{53,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,25}</string>
			</dict>
			<key>HeadModule/tx_huadonganniu_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,264},{117,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,37}</string>
			</dict>
			<key>HeadModule/tx_kaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,436},{50,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>
			<key>HeadModule/tx_kebianji_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,118},{144,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,31}</string>
			</dict>
			<key>HeadModule/tx_nengliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,540},{1,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,12}</string>
			</dict>
			<key>HeadModule/tx_nengliangtiao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,488},{50,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,20}</string>
			</dict>
			<key>HeadModule/tx_touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>HeadModule/tx_yumaobi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,543},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>head_plist.png</string>
			<key>realTextureFileName</key>
			<string>head_plist.png</string>
			<key>size</key>
			<string>{128,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>