<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>College/xy_dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{137,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,228}</string>
			</dict>
			<key>College/xy_shuolian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{114,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,48}</string>
			</dict>
			<key>College/xy_shengjizhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,231},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>College/xy_xiatiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,292},{1,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,79}</string>
			</dict>
			<key>College/xy_tubiaosuo.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{1,347},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>college_plist.png</string>
			<key>realTextureFileName</key>
			<string>college_plist.png</string>
			<key>size</key>
			<string>{139,413}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>413</integer>
		</dict>
	</dict>
</plist>