<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ranger_RightDown_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,184},{32,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,46},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,208},{40,58}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,41},{40,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{42,60}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,42},{42,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,66}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,42},{46,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,58}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{48,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{46,56}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,53},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,248},{46,56}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,62},{46,58}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,51},{46,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{46,60}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,49},{46,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,52},{44,60}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{44,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{40,60}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,47},{40,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,148},{34,60}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,43},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,110},{36,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,46},{36,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{32,60}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,46},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,140},{34,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,138},{34,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,176},{32,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,46},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,174},{32,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,46},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{36,58}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,43},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,98},{38,60}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,39},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,48},{46,62}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,37},{46,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{48,62}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,37},{48,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{44,66}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,33},{44,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{38,62}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,37},{38,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightDown_Attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,210},{36,58}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ranger_RightDown_Attack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d39948d44f28075cedd5b634c7fa141:1/1$</string>
            <key>textureFileName</key>
            <string>Ranger_RightDown_Attack.png</string>
        </dict>
    </dict>
</plist>
