<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ranger_Left_Move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,58},{70,52}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,51},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,54}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,47},{72,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,54}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,49},{72,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,56},{72,52}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,51},{72,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,58},{70,52}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,51},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,110},{70,50}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,51},{70,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{70,52}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,51},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,166},{68,52}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{68,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,166},{68,52}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{68,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,112},{68,52}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{68,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{70,50}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{70,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{70,52}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,47},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_Left_Move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,52}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{72,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ranger_Left_Move.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:facbf76dedbc6eabe12f0e2952e0f152:1/1$</string>
            <key>textureFileName</key>
            <string>Ranger_Left_Move.png</string>
        </dict>
    </dict>
</plist>
