<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ranger_RightUp_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{36,56}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,54},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{36,62}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{36,62}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,48},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{36,62}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,48},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,50},{42,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,296},{38,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{38,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,256},{38,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{38,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,216},{38,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,176},{38,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{34,56}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,54},{34,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{44,58}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,52},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,82},{46,58}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,52},{46,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{46,56}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,54},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,372},{42,56}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{38,56}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,54},{38,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,416},{36,56}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,54},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,454},{34,56}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,54},{34,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,336},{34,58}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{34,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{34,58}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{34,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,46},{34,60}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,62}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,62}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Ranger_RightUp_Attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{34,62}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{34,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ranger_RightUp_Attack.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7c81a891b01b1c6311734340b36a26c:1/1$</string>
            <key>textureFileName</key>
            <string>Ranger_RightUp_Attack.png</string>
        </dict>
    </dict>
</plist>
